<template>
  <transition name="fade">
    <div class="modal-overlay" @click="emitCancelar" v-if="mostrarModal"></div>
  </transition>
  <transition name="slide">
    <div class="modal" v-if="mostrarModal" style="max-width: 640px">
      <h1>Crear estudiante</h1>
      <form class="form-crear-estudiante" @submit.prevent="onSubmit">
        <div class="form-crear-estudiante__campos">
          <div>
            <fieldset>
              <label for="">Apellidos *</label>
              <input type="text" v-model="apellidos" tabindex="1" />
              <span class="error-message">{{ errors.apellidos }}</span>
            </fieldset>
            <fieldset>
              <label for="">Email *</label>
              <input type="email" v-model="email" tabindex="3" />
              <span class="error-message">{{ errors.email }}</span>
            </fieldset>
            <fieldset>
              <label for="">Semestre *</label>
              <select tabindex="5">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </fieldset>
            <fieldset>
              <label for="">Nivel</label>
              <select tabindex="7">
                <option
                  v-for="nivel of niveles"
                  :key="nivel._id"
                  :value="nivel._id"
                >
                  {{ nivel.nombre }}
                </option>
              </select>
            </fieldset>
          </div>
          <div>
            <fieldset>
              <label for="">Nombres *</label>
              <input type="text" v-model="nombres" tabindex="2" />
              <span class="error-message">{{ errors.nombres }}</span>
            </fieldset>
            <fieldset>
              <label for="">Documento *</label>
              <input type="text" v-model="documento" tabindex="4" />
              <span class="error-message">{{ errors.documento }}</span>
            </fieldset>
            <fieldset>
              <label for="">Ciclo</label>
              <select tabindex="6">
                <option
                  v-for="ciclo of ciclos"
                  :key="ciclo._id"
                  :value="ciclo._id"
                >
                  {{ ciclo.nombre }}
                </option>
              </select>
            </fieldset>
            <fieldset>
              <label for="">Opción de grado</label>
              <select tabindex="8">
                <option
                  v-for="opcion of opcionesGrado"
                  :key="opcion._id"
                  :value="opcion._id"
                >
                  {{ opcion.nombre }}
                </option>
              </select>
            </fieldset>
          </div>
        </div>
        <div class="modal__actions">
          <button @click.prevent="emitCancelar">Cancelar</button>
          <button>Crear</button>
        </div>
      </form>
    </div>
  </transition>
</template>

<script>
import { onMounted, ref } from "vue";
import { useForm, useField } from "vee-validate";
import { object, string, setLocale } from "yup";

export default {
  name: "CrearEstudianteModal",
  emits: ["aceptar", "cancelar"],
  setup(_, { emit }) {
    const mostrarModal = ref(false);
    const semestre = ref(0);

    // Define los mensajes de validación
    setLocale({
      mixed: {
        required: "Campo requerido",
      },
      string: {
        email: "Un email válido",
      },
    });

    // Define el esquema de validación
    const esquemaValidacion = object({
      apellidos: string().required(),
      nombres: string().required(),
      documento: string().required(),
      email: string().required().email(),
    });

    // Crea un contexto de formulario con el esquema de validación
    const { handleSubmit, errors } = useForm({
      validationSchema: esquemaValidacion,
    });

    // Se crean los campos del formulario
    const { value: apellidos } = useField("apellidos");
    const { value: nombres } = useField("nombres");
    const { value: documento } = useField("documento");
    const { value: email } = useField("email");

    // Al montar el componente se cambia el valor para
    // mostrar el contenido y pueda ejecutar la animación
    onMounted(() => {
      mostrarModal.value = true;
    });

    // Cierra el modal emitiendo un evento a la página padre
    const salir = (evento) => {
      mostrarModal.value = false;
      // Espera hasta que se ejecute la animación de salida
      setTimeout(function () {
        // Emite el evento "aceptar" a la página padre
        emit(evento);
      }, 600);
    };

    const emitCancelar = () => {
      // Cierra el modal
      salir("cancelar");
    };

    const onSubmit = handleSubmit(async (_) => {
      console.log("Enviando los valores al backend...");
      console.log(apellidos.value);
      console.log(nombres.value);
      console.log(documento.value);
      console.log(email.value);
      // Cierra el modal
      salir("aceptar");
    });

    const niveles = [
      { _id: 1, nombre: "Pregrado" },
      { _id: 2, nombre: "Maestría" },
    ];
    const opcionesGrado = [
      { _id: 1, nombre: "Proyecto de Investigación" },
      { _id: 2, nombre: "Práctica Empresarial" },
      { _id: 3, nombre: "Pasantía Social" },
      { _id: 4, nombre: "Joven Investigador" },
      { _id: 5, nombre: "Curso Coterminal" },
      { _id: 6, nombre: "Internacionalización" },
      { _id: 7, nombre: "Emprendimiento" },
      { _id: 8, nombre: "Promoción Automática" },
    ];
    const ciclos = [
      { _id: 1, nombre: "2020-2" },
      { _id: 2, nombre: "2021-1" },
      { _id: 3, nombre: "2021-2" },
    ];

    return {
      // Eventos del modal
      mostrarModal,
      emitCancelar,
      onSubmit,
      // Errores
      errors,
      // Datos del formulario
      apellidos,
      nombres,
      email,
      documento,
      semestre,
      opcionesGrado,
      niveles,
      ciclos,
    };
  },
};
</script>

<style lang="scss" scoped>
.form-crear-estudiante {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.form-crear-estudiante__campos {
  display: flex;
  gap: 20px;
}
.form-crear-estudiante__campos > div {
  flex: 1;
}
.form-crear-estudiante__campos select {
  max-width: 300px;
}
</style>
