<template>
  <transition name="fade">
    <div class="modal-overlay" @click="emitCancelar" v-if="mostrarModal"></div>
  </transition>
  <transition name="slide">
    <div class="modal" v-if="mostrarModal" :style="{ maxWidth: ancho + 'px' }">
      <h1><slot name="titulo"></slot></h1>
      <slot name="contenido"></slot>
      <div class="modal__actions">
        <button @click="emitCancelar">Cancelar</button>
        <button @click="emitAceptar">
          <slot name="labelAceptar"></slot>
        </button>
      </div>
    </div>
  </transition>

  <!-- 
  USO DE ESTE COMPONENTE EN OTRA PAGINA
  <Modal
    v-if="mostrarModalCrearEstudiante"
    ancho="650"
    @aceptar="aceptar"
    @cancelar="cancelar"
  >
    <template v-slot:titulo>Crear Estudiante</template>
    <template v-slot:contenido>
      <CrearEstudianteModal />
    </template>
    <template v-slot:labelAceptar>Crear</template>
  </Modal> -->
</template>

<script>
import { onMounted, ref } from "vue";

export default {
  name: "Modal",
  props: {
    ancho: {
      type: Number,
      default: 400,
    },
  },
  setup(props, context) {
    const mostrarModal = ref(false);

    // Al montar el componente se cambia el valor para
    // mostrar el contenido y pueda ejecutar la animación
    onMounted(() => {
      mostrarModal.value = true;
    });

    const emitAceptar = () => {
      mostrarModal.value = false;
      // Espera hasta que se ejecute la animación
      setTimeout(function () {
        // Emite el evento "aceptar" a la página padre
        context.emit("aceptar");
      }, 600);
    };

    const emitCancelar = () => {
      mostrarModal.value = false;
      // Espera hasta que se ejecute la animación
      setTimeout(function () {
        // Emite el evento "cancelar" a la página padre
        context.emit("cancelar");
      }, 600);
    };

    return {
      mostrarModal,
      emitAceptar,
      emitCancelar,
    };
  },
};
</script>

<style scoped></style>
