<template>
  <div class="encabezado__estudiantes">
    <input type="text" placeholder="Buscar..." />
    <button @click="mostrarModal" class="boton">Crear estudiante</button>
  </div>
  <div
    class="row-estudiante"
    v-for="estudiante of estudiantes"
    :key="estudiante._id"
  >
    <EstudianteElemento :estudiante="estudiante" />
    <div class="row-estudiante__datos-derecha">
      <div class="row-estudiante__estado">
        <EstadoProcesoElemento :estado="estudiante.estado" />
      </div>
      <div class="divisor-vertical"></div>
      <div class="row-estudiante__tutor">
        <ProfesorElemento :profesor="estudiante.tutor" />
      </div>
      <div class="divisor-vertical"></div>
      <div class="row-estudiante__ciclo">
        <h2>{{ estudiante.ciclo }}</h2>
        <h3>CICLO</h3>
      </div>
      <div class="divisor-vertical"></div>
      <div class="row-estudiante__ver">
        <a href="#" title="Ver estudiante"><i class="fas fa-search"></i></a>
      </div>
    </div>
  </div>

  <CrearEstudianteModal
    v-if="mostrarModalCrearEstudiante"
    @aceptar="aceptar"
    @cancelar="cancelar"
  />
</template>

<script>
// Elementos
import EstudianteElemento from "@/components/elementos/EstudianteElemento.vue";
import ProfesorElemento from "@/components/elementos/ProfesorElemento.vue";
import EstadoProcesoElemento from "@/components/elementos/EstadoProcesoElemento.vue";
// Modals
import CrearEstudianteModal from "@/components/modals/CrearEstudianteModal.vue";

import { useStore } from "vuex";
import { ref } from "vue";

export default {
  name: "Estudiantes",
  components: {
    EstudianteElemento,
    ProfesorElemento,
    EstadoProcesoElemento,
    CrearEstudianteModal,
  },
  setup() {
    const store = useStore();
    const mostrarModalCrearEstudiante = ref(false);

    // Cambia los valores globales de la página
    store.commit("setTitulo", "Estudiantes");
    store.commit("setPaginaActiva", "ESTUDIANTES");

    const estudiantes = [
      {
        _id: 5,
        nombre: "Scott Lang",
        opcionGrado: "Práctica Empresarial",
        estado: "ESPECIAL",
        ciclo: "2021-1",
        tutor: {
          _id: 3,
          nombres: "Charles Xavier",
          rol: "tutor",
        },
      },
      {
        _id: 10,
        nombre: "Peter Parker",
        opcionGrado: "Proyecto de Grado",
        estado: "EN_DESARROLLO",
        ciclo: "2021-1",
        tutor: {
          _id: 20,
          nombres: "Tony Stark",
          rol: "tutor",
        },
      },
      {
        _id: 13,
        nombre: "Diana Prince",
        opcionGrado: "Práctica Empresarial",
        estado: "EN_DESARROLLO",
        ciclo: "2020-2",
        tutor: {
          _id: 2,
          nombres: "Steve Rogers",
          rol: "tutor",
        },
      },
      {
        _id: 2,
        nombre: "Steve Rogers",
        estado: "INICIADO",
        opcionGrado: "Práctica Empresarial",
        ciclo: "2020-2",
        tutor: {
          _id: 15,
          nombres: "Bruce Wayne",
          rol: "tutor",
        },
      },
      {
        _id: 19,
        nombre: "Clark Kent",
        opcionGrado: "Práctica Empresarial",
        estado: "SUSTENTADO",
        ciclo: "2021-2",
        tutor: {
          _id: 17,
          nombres: "Charles Xavier",
          rol: "tutor",
        },
      },
      {
        _id: 16,
        nombre: "Bruce Banner",
        opcionGrado: "Práctica Empresarial",
        estado: "ESPERANDO_SUSTENTACION",
        ciclo: "2021-1",
        tutor: {
          _id: 11,
          nombres: "Carol Danvers",
          rol: "tutor",
        },
      },
    ];

    const aceptar = () => {
      console.log("Evento 'aceptar' recibido por la página 'Estudiantes'...");
      mostrarModalCrearEstudiante.value = false;
    };

    const cancelar = () => {
      console.log("Evento 'cancelar' recibido por la página 'Estudiantes'...");
      mostrarModalCrearEstudiante.value = false;
    };

    const mostrarModal = () => {
      mostrarModalCrearEstudiante.value = true;
    };

    return {
      estudiantes,
      mostrarModalCrearEstudiante,
      aceptar,
      cancelar,
      mostrarModal,
    };
  },
};
</script>

<style lang="scss" scoped>
.row-estudiante {
  background: #fff;
  border: 1px solid var(--gris-claro);
  border-radius: 5px;
  box-shadow: 0px 3px 3px var(--gris-claro);
  padding: 8px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  &:hover {
    background: var(--gris-clarisimo);
    a {
      color: var(--color-texto);
    }
  }
  a {
    margin-right: 15px;
    color: var(--gris-oscuro);
    font-size: 1.1em;
  }
  &__datos-derecha {
    display: flex;
    align-items: center;
  }
  &__tutor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px;
    width: 250px;
  }
  &__estado {
    margin-right: 20px;
  }
  &__ciclo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    width: 90px;
    h2 {
      font-size: 1em;
      font-weight: 600;
    }
    h3 {
      font-size: 0.8em;
      font-weight: 300;
      color: var(--gris-oscuro);
    }
  }
  &__ver {
    padding-left: 20px;
  }
}

.encabezado__estudiantes {
  display: flex;
  justify-content: space-between;
}
</style>
