<template>
  <div
    class="badge"
    :class="{
      'estado-especial': estado === 'ESPECIAL',
      'estado-en-desarrollo': estado === 'EN_DESARROLLO',
      'estado-iniciado': estado === 'INICIADO',
      'estado-sustentado': estado === 'SUSTENTADO',
      'estado-esperando-sustentacion': estado === 'ESPERANDO_SUSTENTACION',
    }"
  >
    {{ estado }}
  </div>
</template>

<script>
export default {
  name: "EstadoProcesoElemento",
  props: ["estado"],
};
</script>

<style scope>
.estado-especial {
  background: #f88b82;
}
.estado-en-desarrollo {
  background: #82e09a;
}
.estado-iniciado {
  background: #84b2ed;
}
.estado-sustentado {
  background: #cd87eb;
}
.estado-esperando-sustentacion {
  background: #f3cd8f;
}
</style>
