<template>
  <div class="estudiante-widget">
    <img class="avatar-pequeno" :src="urlAvatar" alt="usuario" />
    <div class="estudiante-widget__datos">
      <h2>
        {{ estudiante.nombre }}
      </h2>
      <h3>{{ estudiante.opcionGrado }}</h3>
    </div>
  </div>
</template>

<script>
import { ref, onMounted } from "vue";

export default {
  name: "EstudianteElemento",
  props: ["estudiante"],
  setup(props) {
    const urlAvatar = ref("");

    onMounted(() => {
      // FIXME: Hay que revisar la ruta de la imagen. No puede cargarse desde '/src'
      urlAvatar.value = `/src/assets/avatars/${props.estudiante._id}.jpg`;
    });

    return {
      urlAvatar,
    };
  },
};
</script>

<style scoped>
.estudiante-widget {
  display: flex;
  align-items: center;
}
.estudiante-widget img {
  margin: 0px 15px;
}
.estudiante-widget__datos h2 {
  font-weight: 500;
  font-size: 0.9em;
  color: var(--color-texto);
}
.estudiante-widget__datos h3 {
  font-weight: 400;
  font-size: 0.8em;
  color: var(--color-texto);
}
</style>
