<template>
  <div class="reunion-widget">
    <i
      class="far fa-calendar-alt"
      :class="{ 'reunion-futura': reunionFutura }"
    ></i>
    <div class="reunion-widget__datos">
      <h3>{{ fecha }}</h3>
      <h5>Solicitudes atendidas: {{ reunion.solicitudesAtendidas }}</h5>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import "moment/locale/es";
import { ref, onMounted } from "vue";

export default {
  name: "ReunionElemento",
  props: ["reunion"],
  setup(props) {
    const fecha = ref(null);
    const reunionFutura = ref(false);

    onMounted(() => {
      // Formatea la fecha
      fecha.value = moment(props.reunion.fecha).format(
        "MMMM D, YYYY - hh:mm a"
      );
      // Verifica si la reunión es futura
      if (moment(props.reunion.fecha).isAfter(new Date())) {
        reunionFutura.value = true;
      }
    });

    return {
      fecha,
      reunionFutura,
    };
  },
};
</script>

<style scoped>
.reunion-widget {
  display: flex;
  align-items: center;
}
.reunion-widget i {
  margin: 0px 15px;
  font-size: 1.7em;
  color: var(--gris-oscuro);
}
.reunion-widget__datos h3 {
  font-weight: 500;
  font-size: 0.9em;
  color: var(--color-texto);
}
.reunion-widget__datos h4 {
  font-weight: 300;
  font-size: 0.9em;
  color: var(--color-texto);
}
.reunion-widget__datos h5 {
  font-weight: 400;
  font-size: 0.8em;
  color: var(--gris-oscuro);
}
.reunion-futura {
  color: var(--color-texto) !important;
}
</style>
