<template>
  <div class="solicitud-widget">
    <img class="avatar-pequeno" :src="urlAvatar" alt="usuario" />
    <div class="solicitud-widget__datos">
      <h2>
        {{ solicitud.tipo }}
        <span class="badge solicitud-atendida" v-if="solicitud.atendida"
          >ATENDIDA</span
        >
        <span class="badge solicitud-por-atender" v-else>SIN ATENDER</span>
      </h2>
      <h3>{{ solicitud.creadaPor }}</h3>
      <h4>{{ fecha }}</h4>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import "moment/locale/es";
import { ref, onMounted } from "vue";

export default {
  name: "SolicitudElemento",
  props: ["solicitud"],
  setup(props) {
    const urlAvatar = ref("");
    const fecha = ref(null);
    //const fechaHumana = ref(null);

    onMounted(() => {
      // FIXME: Hay que revisar la ruta de la imagen. No puede cargarse desde '/src'
      urlAvatar.value = `/src/assets/avatars/${props.solicitud._id}.jpg`;
      // FIXME: No muestra la fecha en español
      // Da formato a la fecha
      moment.locale("es");
      fecha.value = moment(props.solicitud.fecha).format(
        "MMMM D, YYYY - hh:mm a"
      );
      //fechaHumana.value = moment(props.solicitud.fecha).fromNow();
    });

    return {
      urlAvatar,
      fecha,
    };
  },
};
</script>

<style scoped>
.solicitud-widget {
  display: flex;
  align-items: center;
}
.solicitud-widget img {
  margin: 0px 15px;
}
.solicitud-widget__datos h2 {
  font-weight: 500;
  font-size: 0.9em;
  color: var(--color-texto);
}
.solicitud-widget__datos h3 {
  font-weight: 400;
  font-size: 0.8em;
  color: var(--color-texto);
}
.solicitud-widget__datos h4 {
  font-weight: 300;
  font-size: 0.75em;
  color: var(--gris-oscuro);
}
.solicitud-atendida {
  background: var(--color-solicitud-atendida);
}
.solicitud-por-atender {
  background: var(--color-solicitud-por-atender);
}
.badge {
  font-size: 0.6em;
}
</style>
