<template>
  <div class="card">
    <div class="coordinador-header__encabezado">
      <section class="coordinador-header__encabezado__usuario">
        <img
          class="avatar-grande"
          src="../../assets/acerca/john.jpg"
          alt="usuario"
        />
        <div>
          <h3>John Alexander</h3>
          <h3>Cardozo Ramírez</h3>
          <span>Coordinador</span>
        </div>
      </section>
      <div class="divisor-vertical"></div>
      <section class="coordinador-header__encabezado__dato">
        <h1>2</h1>
        <span>Estudiantes como tutor</span>
        <a href="#" class="link">Ver todos</a>
      </section>
      <div class="divisor-vertical"></div>
      <section class="coordinador-header__encabezado__dato">
        <h1>3</h1>
        <span>Estudiantes como jurado</span>
        <a href="#" class="link">Ver todos</a>
      </section>
      <div class="divisor-vertical"></div>
      <section class="coordinador-header__encabezado__dato">
        <h1>3</h1>
        <span>Solicitudes pendientes</span>
        <a href="#" class="link">Ver solicitudes</a>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: "CoordinadorHeaderWidgtet",
};
</script>

<style lang="scss" scoped>
.coordinador-header__encabezado {
  display: flex;
  &__usuario {
    display: flex;
    flex: 2.5;
    margin-right: 20px;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px;
      h3 {
        color: var(--color-texto);
        font-weight: 600;
      }
      span {
        color: var(--gris-oscuro);
        font-weight: 300;
      }
    }
  }
  &__dato {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0px 20px;
    h1 {
      font-size: 2em;
      font-weight: 500;
      color: var(--color-texto);
    }
    span {
      color: var(--gris-oscuro);
      font-size: 0.9em;
      font-weight: 300;
    }
    a {
      font-size: 0.9em;
    }
  }
}
</style>
