<template>
  <div class="card">
    <div class="widget__titulo">
      <h3>Estudiantes como tutor</h3>
      <a href="#" class="link">Ver todos</a>
    </div>
    <div
      class="estudiante-row"
      v-for="estudiante of estudiantes"
      :key="estudiante._id"
    >
      <EstudianteElemento :estudiante="estudiante" />
      <a href="#" title="Ver estudiante"><i class="fas fa-search"></i></a>
    </div>
  </div>
</template>

<script>
import EstudianteElemento from "@/components/elementos/EstudianteElemento.vue";

export default {
  name: "EstudiantesComoTutor",
  components: {
    EstudianteElemento,
  },
  setup() {
    const estudiantes = [
      {
        _id: 5,
        nombre: "Scott Lang",
        opcionGrado: "Práctica Empresarial",
      },
      {
        _id: 13,
        nombre: "Tony Stark",
        opcionGrado: "Proyecto de Investigación",
      },
    ];
    return {
      estudiantes,
    };
  },
};
</script>

<style lang="scss" scoped>
.estudiante-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  border-radius: 10px;
  &:hover {
    background: var(--gris-clarisimo);
    a {
      color: var(--color-texto);
    }
  }
  a {
    margin-right: 15px;
    color: var(--gris-oscuro);
    font-size: 1.1em;
  }
}
</style>
