<template>
  <div class="card">
    <div class="widget__titulo">
      <h3>Ultimas reuniones</h3>
      <a href="#" class="link">Ver todas</a>
    </div>
    <div class="reunion-row" v-for="reunion of reuniones" :key="reunion._id">
      <ReunionElemento :reunion="reunion" />
      <a href="#" title="Ver reunion"><i class="fas fa-search"></i></a>
    </div>
  </div>
</template>

<script>
import ReunionElemento from "@/components/elementos/ReunionElemento.vue";

export default {
  name: "UltimasReuniones",
  components: {
    ReunionElemento,
  },
  setup() {
    const reuniones = [
      {
        _id: 1,
        fecha: new Date(2021, 6, 29),
        solicitudesAtendidas: 0,
      },
      {
        _id: 2,
        fecha: new Date(2021, 3, 25),
        solicitudesAtendidas: 4,
      },
      {
        _id: 3,
        fecha: new Date(2021, 3, 15),
        solicitudesAtendidas: 8,
      },
      {
        _id: 4,
        fecha: new Date(2021, 2, 25),
        solicitudesAtendidas: 5,
      },
    ];
    return {
      reuniones,
    };
  },
};
</script>

<style lang="scss" scoped>
.reunion-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  border-radius: 10px;
  &:hover {
    background: var(--gris-clarisimo);
    a {
      color: var(--color-texto);
    }
  }
  a {
    margin-right: 15px;
    color: var(--gris-oscuro);
    font-size: 1.1em;
  }
}
</style>
