<template>
  <div class="card">
    <div class="widget__titulo">
      <h3>Ultimas solicitudes</h3>
      <a href="#" class="link">Ver todas</a>
    </div>
    <div
      class="solicitud-row"
      v-for="solicitud of solicitudes"
      :key="solicitud._id"
    >
      <SolicitudElemento :solicitud="solicitud" />
      <a href="#" title="Ver solicitud"><i class="fas fa-search"></i></a>
    </div>
  </div>
</template>

<script>
import SolicitudElemento from "@/components/elementos/SolicitudElemento.vue";

export default {
  name: "UltimasSolicitudesWidget",
  components: {
    SolicitudElemento,
  },
  setup() {
    const solicitudes = [
      {
        _id: 1,
        tipo: "Solicitud de Cambio de Opción de Grado",
        creadaPor: "Tony Stark",
        fecha: new Date(2021, 3, 26),
        atendida: false,
      },
      {
        _id: 2,
        tipo: "Solicitud de Revisión de Anteproyecto de Maestría",
        creadaPor: "Henry Jones",
        fecha: new Date(2021, 3, 25),
        atendida: false,
      },
      {
        _id: 3,
        tipo: "Solicitud de Carta de Presentación",
        creadaPor: "Scott Lang",
        fecha: new Date(2021, 3, 15),
        atendida: true,
      },
      {
        _id: 4,
        tipo: "Solicitud de Jurado",
        creadaPor: "Carol Danvers",
        fecha: new Date(2021, 2, 25),
        atendida: true,
      },
    ];
    return {
      solicitudes,
    };
  },
};
</script>

<style lang="scss" scoped>
.solicitud-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  border-radius: 10px;
  &:hover {
    background: var(--gris-clarisimo);
    a {
      color: var(--color-texto);
    }
  }
  a {
    margin-right: 15px;
    color: var(--gris-oscuro);
    font-size: 1.1em;
  }
}
</style>
