<template>
  <CoordinadorHeaderWidget />
  <div class="row row-1">
    <UltimasSolicitudesWidget />
    <UltimasReunionesWidget />
  </div>
  <div class="row row-2">
    <EstudiantesComoTutor />
    <EstudiantesComoJurado />
  </div>
</template>

<script>
import UltimasSolicitudesWidget from "@/components/widgets/UltimasSolicitudesWidget.vue";
import UltimasReunionesWidget from "@/components/widgets/UltimasReunionesWidget.vue";
import CoordinadorHeaderWidget from "@/components/widgets/CoordinadorHeaderWidget.vue";
import EstudiantesComoTutor from "@/components/widgets/EstudiantesComoTutor.vue";
import EstudiantesComoJurado from "@/components/widgets/EstudiantesComoJurado.vue";
import { useStore } from "vuex";

export default {
  name: "Dashboard",
  components: {
    UltimasSolicitudesWidget,
    UltimasReunionesWidget,
    CoordinadorHeaderWidget,
    EstudiantesComoTutor,
    EstudiantesComoJurado,
  },
  setup() {
    const store = useStore();

    // Cambia los valores globales de la página
    store.commit("setTitulo", "Bienvenido");
    store.commit("setPaginaActiva", "DASHBOARD");
  },
};
</script>

<style scoped>
.row {
  display: flex;
  margin-top: 15px;
}
.row-1 div:nth-child(1) {
  flex: 1.5;
  margin-right: 15px;
}
.row-1 div:nth-child(2) {
  flex: 1;
}
.row-2 div:nth-child(1) {
  flex: 1;
  margin-right: 15px;
}
.row-2 div:nth-child(2) {
  flex: 1;
}
</style>
