<template>
  <div class="card">
    <h2 class="card__titulo">Equipo</h2>
    <section class="acerca__miembro">
      <img src="../assets/acerca/juliana.jpg" alt="usuario" />
      <div class="acerca__datos">
        <h2 class="acerca__datos__nombre">Juliana Arévalo</h2>
        <a class="link" href="mailto:juliana.arevalo@usantotomas.edu.co"
          >juliana.arevalo@usantotomas.edu.co</a
        >
      </div>
    </section>
    <section class="acerca__miembro">
      <img src="../assets/acerca/john.jpg" alt="usuario" />
      <div class="acerca__datos">
        <h2 class="acerca__datos__nombre">John Cardozo</h2>
        <span>
          <a class="link" href="mailto:john.cardozo@usantotomas.edu.co"
            >john.cardozo@usantotomas.edu.co</a
          >
        </span>
      </div>
    </section>
  </div>
</template>

<script>
import { useStore } from "vuex";

export default {
  name: "Acerca",
  setup() {
    const store = useStore();

    // Cambia el titulo de la página
    store.commit("setTitulo", "Acerca de");
  },
};
</script>

<style lang="scss" scoped>
.acerca__miembro {
  display: flex;
  margin: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--gris-claro);
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px var(--gris-oscuro);
  }
}
.acerca__datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  h2 {
    font-weight: 300;
  }
}
.acerca__datos__nombre {
  color: var(--color-texto);
}
</style>
