<template>
  <header>
    <Titulo />
    <div class="header__derecha">
      <Toolbar />
      <Usuario />
    </div>
  </header>
</template>

<script>
import Titulo from "@/components/header/Titulo.vue";
import Toolbar from "@/components/header/Toolbar.vue";
import Usuario from "@/components/header/Usuario.vue";

export default {
  name: "Header",
  components: {
    Titulo,
    Toolbar,
    Usuario,
  },
};
</script>

<style lang="scss" scoped>
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gris-claro);
  .header__derecha {
    display: flex;
  }
}
</style>
