<template>
  <div class="header__titulo">
    <i class="fas fa-graduation-cap"></i>
    <div class="divisor-vertical"></div>
    <h1>{{ titulo }}</h1>
  </div>
</template>

<script>
import { ref, watch } from "vue";
import { useStore } from "vuex";

export default {
  name: "Titulo",
  setup() {
    const store = useStore();
    const titulo = ref("");

    // Observa los cambios en el store para actualizar el titulo del header
    watch(
      () => store.state.titulo,
      (nuevoTitulo, tituloAnterior) => {
        titulo.value = nuevoTitulo;
      }
    );

    return {
      titulo,
    };
  },
};
</script>

<style lang="scss" scoped>
.header__titulo {
  display: flex;
  align-items: center;
  i {
    color: var(--color-principal);
    font-size: 2.5em;
    padding: 25px;
  }
  h1 {
    font-size: 1.5em;
    color: var(--color-texto);
    padding: 0px 25px;
  }
}
</style>
