<template>
  <div class="toolbar">
    <router-link
      :to="{ name: 'Dashboard' }"
      class="toolbar__boton"
      :class="{
        activo: paginaActiva === 'DASHBOARD',
      }"
    >
      <i class="fas fa-home"></i>
      <span>inicio</span>
    </router-link>
    <div class="toolbar__boton">
      <i class="far fa-calendar-alt"></i>
      <span>reuniones</span>
    </div>
    <router-link
      :to="{ name: 'Estudiantes' }"
      class="toolbar__boton"
      :class="{
        activo: paginaActiva === 'ESTUDIANTES',
      }"
    >
      <i class="fas fa-user-graduate"></i>
      <span>Estudiantes</span>
    </router-link>
    <div class="toolbar__boton">
      <i class="fas fa-scroll"></i>
      <span>solicitudes</span>
    </div>
    <div class="toolbar__boton">
      <i class="fas fa-chalkboard-teacher"></i>
      <span>profesores</span>
    </div>
    <div class="toolbar__boton">
      <i class="fas fa-sliders-h"></i>
      <span>configuración</span>
    </div>
  </div>
</template>

<script>
import { ref, watch } from "vue";
import { useStore } from "vuex";

export default {
  name: "Toolbar",
  setup() {
    const store = useStore();
    const paginaActiva = ref("");

    // Observa los cambios en el store para actualizar el titulo del header
    watch(
      () => store.state.paginaActiva,
      (nuevaPaginaActiva, paginaActivaAnterior) => {
        paginaActiva.value = nuevaPaginaActiva;
      }
    );

    return {
      paginaActiva,
    };
  },
};
</script>

<style lang="scss" scoped>
.toolbar {
  display: flex;
  align-items: center;
}
.toolbar__boton {
  color: var(--gris-oscuro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}
.toolbar__boton {
  text-decoration: none;
  span {
    text-transform: uppercase;
    font-size: 0.7em;
    margin-top: 3px;
  }
  &.activo,
  &:hover {
    color: var(--color-principal);
    border: 1px solid var(--gris-claro);
    border-radius: 4px;
    box-shadow: 0px 2px 3px var(--gris-claro);
  }
}
</style>
