<template>
  <div class="usuario__avatar">
    <img
      class="avatar-pequeno"
      src="../../assets/avatars/23.jpg"
      alt="usuario"
    />
  </div>
</template>

<script>
export default {
  name: "Usuario",
};
</script>

<style scoped>
.usuario__avatar {
  display: grid;
  place-items: center;
  width: 70px;
}
</style>
