<template>
  <div class="main__container">
    <Header />
    <main>
      <slot />
    </main>
  </div>
</template>

<script>
import Header from "@/components/header/Header.vue";

export default {
  name: "MainLayout",
  components: {
    Header,
  },
};
</script>

<style lang="scss" scoped>
.main__container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px auto;
}
main {
  background: var(--main-background);
  padding: 10px 15px;
}
</style>
