<template>
  <div class="container-login">
    <div class="logo">
      <i class="fas fa-graduation-cap"></i>
    </div>
    <h1>Ingresar</h1>
    <form class="form__login">
      <fieldset>
        <label for="">Email</label>
        <input type="text" />
      </fieldset>
      <fieldset>
        <label for="">Contraseña</label>
        <input type="password" />
      </fieldset>
      <button>Iniciar sesión</button>
      <a href="#" class="link">Olvidé mi contraseña</a>
    </form>
  </div>
</template>

<script>
export default {
  name: "Login",
};
</script>

<style lang="scss" scope>
.container-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 1.9em;
    color: var(--color-principal);
    margin-bottom: 20px;
  }
}
.logo {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
  i {
    font-size: 3em;
    color: var(--color-principal);
  }
}
.form__login {
  margin: 0px 80px;
  button {
    justify-self: center;
    align-self: center;
    width: 100%;
  }
  a {
    .form__login a {
      margin-top: 15px;
      float: right;
    }
  }
}
</style>
